<ion-side-menus>

  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" expose-aside-when="large">
    <header class="bar bar-header bar-stable">
      <h1 class="title">Domonic</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
		<ion-item nav-clear menu-close href="#/app/home">
          <i class="icon ion-home"></i>
		  Home
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/thermostat">
		 <i class="icon ion-thermometer"></i>
          Thermostat
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/switchables">
          <i class="icon ion-toggle-filled"></i>
		  Switchables
        </ion-item>
        <ion-item nav-clear menu-close ng-click="openParams()">
		
          Paramètres
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/devices">
          Devices
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/events">
          Events
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/methods">
          Methods
        </ion-item>
		<ion-item nav-clear menu-close href="#/app/server">
          <i class="icon ion-information-circled"></i>
		  Server
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
